:root {
  --blue: #40c4ff;

  --bg-light: #fff;
  --bg-dark: #232424;

  --text-light: #000;
  --text-dark: #fff;

  --accent-light: yellow;
  --accent-dark: red;

  --bg: var(--bg-dark);
  --text: var(--text-dark);
  --accent: var(--accent-dark);

  --bg: var(--bg-light);
  --text: var(--text-light);
  --accent: var(--accent-light);


  box-sizing: border-box;
  color: var(--text);
  background: no-repeat var(--bg);
  background-size: cover;
  line-height: 1.5;
  font-size: 18px;
  font-family: Noto Sans, sans-serif;
  min-height: 100vh;
  padding: 0em;
  margin: 0;
}

body {
  margin: 0;
}

main {
  max-width: 98vw;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

img#portrait {
  display: block;
  filter: brightness(1.1);
  margin: 1em auto;
  border: 1px solid white;
  margin-bottom: 1rem;
  max-height: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 0 4px white,
              0px 0px 0 8px var(--blue),
              0px 0px 0 12px magenta,
              0px 0px 0 16px yellow,
              0px 0px 0 0 transparent;
}

/* From: https://stackoverflow.com/questions/56199721/how-can-i-create-a-wavy-shape-css */
.wave {
  --c:chartreuse;   /* Color */
  --t:5px;   /* Thickness */
  --h:50px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:13px;  /* adjust this to correct the position when changing the other values*/
  
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), #0000 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), #0000 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size: var(--w) var(--h);
  background-position: calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
  
  margin: 5px 0;
  display:inline-block;
  width: 100%;
  height: var(--h);
}

/*
#portrait-behind > p {
  opacity: 0;
  color: black;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: skewX(30deg);
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1;
  top: calc(25px - 1ex);
}

#portrait-behind > p#right {
  right: 0;
}

#portrait-container:hover > #portrait-behind > p {
  opacity: 1;
}
*/

#portrait-behind {
  background: cyan;
  transform: skewX(-30deg);
  height: 50px;
  width: 90%;
  box-shadow: 10px 10px 0 0px red;
  padding-top: 0;
  margin: 0 auto;
  position: relative;
  /* 50px (height of this div) + 10px (box shadow of this div) + 1rem (bottom-margin of portrait) */
  bottom: calc(75px + 50px + 10px + 1rem);
  /* just height of this element */
  margin-bottom: -50px;
  z-index: -1;
}

main > nav {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  justify-content: space-between;
}

a {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  color: var(--text);
}

a::before {
  content: '';
  display: inline-block;
  position: relative;
  bottom: -2px;
  left: 100%;
  width: 100%;
  height: 0.2em;
  margin-left: -100%;
  background: var(--accent);
  z-index: -1;
  transition: height .2s;
}

a:hover::before,
a.curr::before {
  height: 1.5ex;
}

/*
hr {
  border: none;
}
hr::after{
  content: '* * *';
  text-align: center;
  color: var(--light);
  font-weight: normal;
  display: block;
}
*/

hr {
  border: none;
  --mask:
    radial-gradient(12.94px at 50% calc(100% + 3.00px),#0000 calc(99% - 5px),#000 calc(101% - 5px) 99%,#0000 101%) calc(50% - 20px) calc(50% - 7.5px + .5px)/40px 15px repeat-x,
    radial-gradient(12.94px at 50% -3px,#0000 calc(99% - 5px),#000 calc(101% - 5px) 99%,#0000 101%) 50% calc(50% + 7.5px)/40px 15px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  
  background: var(--blue);
  background: var(--blue);
  margin: 5px 0;
  display:inline-block;
  width: 100%;
  height: 20px;
}


img {
  max-width: 99%;
}

img.plot {
  border: 1px solid var(--light);
}
figure {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
figcaption {
  text-align: center;
  font-style: italic;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}
li::before {
  content: '+';
}

/*
h1,h2,h3,h4,h5,h6 {
  font-family: serif;
  margin: 0 auto;
  margin-bottom: 0.3em;
}
*/

h1, h2, h3 {
  margin-bottom: 0.75rem;
  margin-left: .1em;
}

h3::before,
h2::before,
h1::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}

h2::before {
  width: 1.5ex;
  height: 1.5ex;
  border-radius: 50%;
  background: var(--blue);
  margin-top: .65ex;
  margin-left: -.1em;
}

h1:not(.title)::before {
  width: 0;
  height: 0;
  border-top: .75ex solid transparent;
  border-bottom: .75ex solid transparent;
  border-left: 1ex solid magenta;
  margin-top: .75ex;
  margin-left: -.1em;
}

h1.title::before {
  background: chartreuse;
  width: 5ex;
  height: .5ex;
  margin-top: 1ex;
  margin-left: -.1em;
}
h1.title::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background: chartreuse;
  width: 3ex;
  height: .5ex;
  margin-top: -1ex;
  margin-left: 1.75em;
}




p {
  margin-top: 0em;
}

main > div#publications {
  flex-basis: 100%;
}
main > div#about {
  font-size: 1.1rem;
  flex-basis: 400px; /* something reasonable */
  flex-grow: 1;
}

@media only screen and (min-width: 800px) {
  main {
    padding-top: .5rem;
  }

  img.plot {
    max-height: 340px;
  }
}

nav.dated-list {
  display: grid;
}

nav.dated-list > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: .5em;
}

/*
#badge {
  float: left;
  height: 200px;
}
*/

blockquote {
  font-style: italic;
}

.award,
.paper {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.citation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.award > :not(.title),
.citation > :not(.title) {
  font-size: 0.9em;
}

.citation > div {
  line-height: 1.3;
}

.short-venue::before { content: '['; }
.short-venue::after { content: ']'; }

.title {
  flex-shrink: 1;
}

.authors {
  flex-basis: 100%;
}


/** BLOG INDEX **/
#blog-posts {
  width: max-content;
}
.blog-post::before,
#blog-posts::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100px;
  height: 100%;
  background: chartreuse;
  --mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 60.00px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.blog-post::after,
#blog-posts::after {
  content: '';
  position: fixed;
  left: 0;
  top: -20px;
  z-index: -2;
  width: 120px;
  height: calc(100% + 20px);
  background: var(--blue);
  --mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 91deg) 50%/100% 60.00px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}


.post-listing {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  line-height: 1.2;
}

.post-date {
  order: -1;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .blog-post::before,
  .blog-post::after,
  #blog-posts::before,
  #blog-posts::after {
    display: none;
  }
  .post-date {
    order: -1;
    margin-right: 0;
    flex-basis: 100%;
  }
  .post-title {
    flex-grow: 0;
  }
}

/** BLOG POSTS **/
.side-by-side {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
}

.side-by-side > div {
  margin: 1rem auto;
}

div.sourceCode {
  width: 100%;
  max-width: 98vw;
}

pre.sourceCode {
  overflow-x: scroll;
  border: 2px dashed var(--light);
  padding: .5rem;
  margin-right: 2px;
}

code {
  white-space: unset;
}
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { color: #008000; } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { color: #008000; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
