:root {
  --text: #0a0a0a;
  --text-light: #858286;
  --bg: #f8f8f8;
  --accent: blue;
  --accent: #0555eb;
  --accent-faded: purple;
  --accent-faded: #9580db;
  --accent-faded: #85a0db;
  --light: #ddd;

  color: var(--text);
  background: no-repeat var(--bg);
  background-size: cover;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 0em;
  margin: auto;
  max-width: 98vw;
  width: 850px;
  display: flex;
}

hr {
  border: none;
}
hr::after{
  content: '* * *';
  text-align: center;
  color: var(--light);
  font-weight: normal;
  display: block;
}

img#portrait {
  border-radius: 5px;
  border: 1px solid var(--bg);
  display: block;
  margin: 0 auto;
}

img {
  max-width: 99%;
}

img.plot {
  border: 1px solid black;
}

a {
  color: var(--accent);
}

a:visited {
  color: var(--accent-faded);
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}
li::before {
  content: '+';
}

h1,h2,h3,h4,h5,h6 {
  font-family: serif;
  margin: 0 auto;
  margin-bottom: 0.3em;
}

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.75rem;
}
h3 {
  border-bottom: 1px solid var(--light);
  flex-basis: 100%; /* so the underline reaches the whole screen */
}

p {
  margin-top: 0em;
}

header#title-block-header {
  max-width: 100%;
}

header#title-block-header > .date {
  text-align: center;
}

.card {
  padding: 0em;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.sidebar {
  background: var(--bg);
  padding: .5rem;
  margin: 0;
  border-bottom: 1px solid var(--light);
  width: 100%;
}

.sidebar > nav {
  display: flex;
  line-height: 1.15;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 350px;
}

.sidebar > nav > a,
.sidebar > nav > p {
  text-transform: lowercase;
}
.sidebar > nav > p {
  text-decoration: underline;
  display: none;
}

.sidebar > nav > a,
.sidebar > nav > a:visited {
  text-decoration: none;
  color: var(--text-light);
}

.sidebar > nav > a:hover,
.curr, .curr:visited {
  color: var(--text);
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
main > div#awards,
main > div#publications {
  flex-basis: 100%;
}
main > div#about {
  flex-basis: 400px; /* something reasonable */
  flex-grow: 1;
  margin-left: 1rem;
}
img#portrait {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-height: 250px;
}

@media only screen and (min-width: 800px) {
  main {
    padding-top: .5rem;
    flex-basis: calc(100% - 100px);
    flex-grow: 1;
  }

  .sidebar {
    top: 0;
    position: sticky;
    flex-basis: 100px;
    flex-grow: 1;
    text-align: right;
    padding: 0;
    padding-top: 1rem;
    margin-top: -1rem;
    margin: 0;
    border-bottom: unset;
    width: unset;
  }

  .sidebar.header-compensate > nav {
    margin-top: 3em;
  }

  .sidebar > nav {
    border-right: 1px solid var(--light);
    margin-right: .5em;
    padding-right: .5em;
    justify-content: flex-end;
  }

  .sidebar > nav > hr,
  .sidebar > nav > a,
  .sidebar > nav > p {
    flex-basis: 100px;
  }

  .sidebar > nav > p {
    padding: 0;
    margin: 0;
    display: unset;
  }
}

nav.dated-list {
  display: grid;
}

nav.dated-list > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: .5em;
}

/*
#badge {
  float: left;
  height: 200px;
}
*/

blockquote {
  font-style: italic;
}

.award,
.paper {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
/*.paper:not(:last-child) { border-bottom: 1px solid var(--light); }*/

.short-venue::before { content: '('; }
.short-venue::after { content: ')'; }
.venue, .short-venue { font-style: italic; }

.award > :not(.title),
.citation > :not(.title) {
  font-size: 0.9em;
}


@media only screen and (max-width: 800px) {
  .sidebar {
    flex-basis: 100%;
    text-align: center;
  }

  .sidebar > nav {
    border-right: none;
  }
}

